:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  /*max-width: 900px;*/

  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

body {
  margin: auto;
  min-height: 100%;
  display: flex;
  width: 100%;
  max-width: 900px;

  /* justify-content: flex-start;
  align-items: center; */
}

section {
  justify-content: center;
  align-items: center;
}

header {
  background-image: url('./Images/space.png');
  /* max-width: 900px; */
  max-height: 700px;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.speech-bubble {
  background: lightgray;
  color: slategray;
  text-align: left;
  /* text-indent: 1rem; */
  /* border-radius: 4em; */
  font-size: 16px;
  max-width: auto;
  margin: auto;
  padding: 0.5rem;
  /* margin-left: 25rem; */
  position: absolute;
  top: 5rem;
  left: 20rem;
}

.speech-bubble > h1 {
  max-width: auto;
  padding: 1rem;
  /* display: flex; */
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
}

.speech-bubble > p {
  font-size: 10px;
  /* margin: 0 10px; */
}
.speech-bubble:after {
  content: '';
  position: absolute;
  /* left: -31%; */
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: lightgray;
  border-bottom: 0;
  border-left: 0;
  top: 3rem;
  left: 1rem;
  /* margin-left: -10px;
  margin-bottom: -20px; */
}
.profile-picture {
  max-height: 185px;
  margin: 12%;
}

main {
  /* margin: 1%; */
  padding: 0;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(59, 57, 57);
  padding: 0 1%;
}

.text-box {
  background-color: whitesmoke;
  border-radius: 4px;
  color: black;
  /* padding: 0 0 0 1rem; */
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-header1 {
  background: url(./Images/reactsnipped.png);
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 2rem;
  border-radius: 4px 4px 0px 0px;
  /* border-image-slice: 138 27 138 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch; */
}

.image-header2 {
  background: url(./Images/codesnipped.png);
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 2rem;
  border-radius: 4px 4px 0px 0px;
  /* border-image-slice: 138 27 138 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch; */
}

h2 {
  max-width: auto;
  padding: 0 0 1rem 1rem;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
}

#lorem {
  /* text-align: left;
  text-indent: 1rem; */
  padding: 0 1rem;
  margin: 0;
}

h2 > p {
  margin: 0.5rem;
  font-size: 12px;
  max-width: auto;
  padding: 0 0 0 5px;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

main > img {
  margin: 0 1%;
  padding: 0;
  /* object-fit: contain; */
}

#blog-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin: 1rem 1rem;
  padding: 1rem; */
  text-align: left;
  text-indent: 1rem;
}

#keep-reading {
  /* align-items: flex-end; */
  /* align-self: flex-end; */
  text-align: center;
  /* max-width: 125px;
  max-height: 100px; */
  background-color: #517bf7;
  color: white;
  position: absolute;
  border-radius: 5%;
  padding: 0.5%;
  margin: 0;
  right: 1rem;
  bottom: -1rem;
  /* margin: -14px; */
}

/* Everything below here is fine ignore it */
li {
  list-style: none;
}

.be-stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  margin: 3%;
}

.be-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.twitter {
  max-width: 40px;
  max-height: 40px;
  padding: 2%;
}

#copyright {
  /* border-style: dotted;
  border-color: red;
  flex-direction: row; */
  text-align: center;
}
